 header a {
	color: #e8e5e5;
	text-decoration: none;
 }
 header li {
	 font-family: sans-serif ;
	 list-style: none;
	 font-weight: 700;
	 text-align: center;
 }
 a:hover {
	 text-decoration: underline;
 }
 body {
	 background: #514f4f;
 }
 